.home-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

/* Mobile */
@media (max-width: 768px) {
  .home-layout {
    flex-direction: column;
  }
  .search-input {
    width: 90%;
  }
}

.home-page {
  width: 100%;
}

/* 🔍 Search bar container */
.search-bar-wrapper {
  width: 70%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

/* 🔍 Input */
.search-input {
  width: 70%;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-input:focus {
  outline: none;
  border-color: #333;
}

.no-data {
  flex: 1;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #555;
}

.no-data h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.no-data p {
  font-size: 16px;
  color: #888;
}

